{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
  <h1> Rango says...</h1>
  <div>
    {% if user.is_authenticated %}
        Howdy {{ user.username }}!
    {% else %}
        Hey there partner!
    {% endif %}
      This tutorial has been put together by <br>
      <strong>{{ boldmessage }}</strong>
  </div>
  <div>
      <img src="{% static 'images/rango.jpg' %}" alt="Dunecat">
      <br>
      <img src="{{ MEDIA_URL }}catwow.jpg" alt="Catwow">
  </div>
{% endblock %}
